.experience {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / repeat(2, 1fr);
    width: 100%;
    height: 100vh;
    font-family: $font-family-default;
    scroll-snap-align: center;

    > h2 {
        grid-area: 1 / 1 / span 1 / span 2;
        text-align: center;
        font-size: 160px;
        background-color: var(--background-theme);
        background-image: var(--background-gradient-theme);  
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &--card {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
        width: 300px;
        height: 80px;
        background: #434041;
        color: #FFFFFF;
        overflow: hidden;
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;

        @keyframes floating {
            from { transform: translate(0,  0px); }
            65%  { transform: translate(0, 15px); }
            to   { transform: translate(0, -0px); }
        }

        .bubble {
            position: absolute;
            left: 0;
            top: 0;
            width: 35px;
            height: 35px;
            border-radius:  0 0 400px 0 ;
            transition: all .7s cubic-bezier(0,0,.5,1);
        }

        .smokeland {
            background: #1D89FF;
            color: #000000;
        }

        .keystone {
            background: #FFFFFF;
            color: #000000;
        }

        .wefix {
            background: #FF474A;
        }

        > * {
            z-index: 1;

            &:nth-child(2) {
                font-size: 17px;
                font-weight: bold;
                font-family: Titan One;
            }

            &:last-child {
                width: 200px;
                font-size: 14px;
                font-weight: 300;
            }
        }
    }

    &--card:hover {
        .bubble {
            width: 400px;
            height: 400px;
        }
    }

    > * {
        &:nth-child(2) {
            justify-self: flex-end;
            grid-area: 2 / 1 / span 1 / span 1;
        }

        &:nth-child(3) {
            grid-area: 3 / 2 / span 1 / span 1;
        }

        &:nth-child(3):hover {
            grid-area: 3 / 2 / span 1 / span 1;
            color: #434041;
        }

        &:nth-child(4) {
            justify-self: flex-end;
            grid-area: 4 / 1 / span 1 / span 1;
        }
    }
}