html {
    scroll-behavior: smooth;
}

.home {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    padding: 0 1rem;
    scroll-snap-align: center;

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        height: 350px;
        width: 100%;

        &--text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: auto;
            height: 100%;
            font-family: Montserrat;
            color: var(--font-color-default);

            > * {
                &:first-child {
                    margin-top: 3rem;

                    > h1 {
                        font-size: 50px;
                        font-family: Titan One;
                        background-clip: text;
                        -webkit-background-clip: text;
                        background-size: cover;
                        color: transparent;
                        background-image: url(../../images/background-text.png);
                    }

                    > h2 {
                        font-size: 20px;
                        font-weight: 300;
                        font-family: Montserrat;
                    }
                }
            }

            .contactButton {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 200px;
                height: 60px;
                border-radius: 9999px;
                background: #1D89FF;
                text-decoration: none;
                color: #FFFFFF;
                transition: all .3s cubic-bezier(0,0,.5,1);
            }

            .contactButton:hover {
                background: #FF474A;
            }

        }

        &--image {
            display: flex;
            align-items: flex-end;

            > * {
                &:first-child {
                    display: var(--display-dark);
                }

                &:last-child {
                    display: var(--display-light);
                }
            }

            > img {
                width: 400px;
                z-index: 1;
                transition: all .4s cubic-bezier(0,0,.5,1);
            }

            > img:hover {
                transform: scale(1.05);
            }
        }

        &--logos {
            display: flex;
            justify-content: space-between;
            width: 120px;
        }
    }
}

body {
    #magicMouseCursor {
        position: fixed;
        width: 35px;
        height: 35px;
        border: 1.5px solid var(--font-color-default);
        border-radius: 50%;
        z-index: 9999;
        left: 0;
        top: 0;
        transition: transform 0.07s, width 0.3s, height 0.3s;
        pointer-events: none;
    
        &.cursor-square {
            border-radius: 0;
        }
    }
  
    #magicPointer {
        height: 5px;
        width: 5px;
        top: 0;
        left: 0;
        position: fixed;
        background: var(--font-color-default);
        border-radius: 50%;
        pointer-events: none;
        transition: background 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s;
    
        &.pointer-blur {
            height: 50px;
            width: 50px;
            background: none;
            border: 1px solid var(--font-color-default);
            box-shadow: 0px 0px 15px -5px var(--font-color-default);
        }
    
        &.pointer-overlay {
            height: 50px;
            width: 50px;
            mix-blend-mode: difference;
            box-shadow: 0px 0px 15px -5px var(--font-color-default);
        }
    
        &.is-hover {
            background: red;
        }
    }
  
    .magic-hover {
        transition: all 0.2s;
    
        &:hover {
            cursor: none;
        }
    }
}