.navbar {
    grid-area: 1 / 1 / span 1 / span 9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-family: $font-family-default;
    color: $font-white;
    font-size: 18px;

    &__logo {
        display: flex;
        align-items: center;
        width: auto;
        height: 100%;
    }

    &__links {
        display: flex;
        align-items: center;
        column-gap: 2rem;
        width: auto;
        height: 100%;

        > a {
            text-decoration: none;
            color: #FFFFFF;
        }
    }

    &__theme {
        cursor: pointer;
    }
}